<div class="header" style="position: relative;">
<div class="text-center">
  <h1 class="display-4">Yash Katara</h1>
  <h3>Web Developer</h3>

</div>
<div style="position: absolute; bottom:5px; right:10px">
  <a href="https://www.linkedin.com/in/yash-katara-993761214/" target="_blank" class="">
    <img src="../../assets/download.jpg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5"></a>
    <!-- <h3 class="mb-0">LinkedIn</h3> -->

    <a href="//facebook.com" target="_blank" class="">
    <img src="../../assets/download1.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5"></a>
    <!-- <h3 class="mb-0">Facebook</h3> -->

    <a href="//Insagram.com" target="_blank" class="">
    <img src="../../assets/download2.jpg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5"></a>
    <!-- <h3 class="mb-0">Instagram</h3> -->

    <a href="https://github.com/yashkatara" target="_blank" class="">
    <img src="../../assets/3.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
    <!-- <h3 class="mb-0">Github</h3> --></a>

</div>
</div>

<div class="shadow-sm"><nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/portfolio"routerLinkActive="text-dark">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive="text-dark">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary"routerLink="/contact" routerLinkActive="text-dark">Contact</a>
      </li>

    </ul>
  </div>

</nav></div>