<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>Contact Me</h1>
    <p>I can be  reached at following mail: <b>yashkatara451@gmail.com</b></p>
    <p>Feel free to connect me following platforms</p>
  </div>
  <div class="list-group shadow">
    <a href="//linkedin.com" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
    <img src="../../assets/download.jpg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
    <h3 class="mb-0">LinkedIn</h3>
  </a>
    <a href="//facebook.com" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
    <img src="../../assets/download1.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
    <h3 class="mb-0">Facebook</h3>
  </a>
    <a href="//Insagram.com" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
    <img src="../../assets/download2.jpg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
    <h3 class="mb-0">Instagram</h3>
  </a>
    <a href="//Github.com" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
    <img src="../../assets/3.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
    <h3 class="mb-0">Github</h3>
  </a>
  </div>


</div>
