<div class="container text-center">
  <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download Pdf Now</button>
  <accordion>
    <accordion-group heading="Experience">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Graduation Details">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Intermediate">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="HighSchool">
      <p>Some content</p>
    </accordion-group>
  </accordion>
  
</div>
