<div class="container text-center">
  <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download Pdf Now</button>
  <accordion>
    <accordion-group heading="Experience" style="text-decoration: none;">
     I am a Fresher
    </accordion-group>
    <accordion-group heading="Graduation Details">
      I have done My B.Tech from BSACET Mathura and got 7.16 CGPA
    </accordion-group>
    <accordion-group heading="Intermediate">
      I have done my Intermediate from Ch Jagan Singh College and secured 68.4 %
    </accordion-group>
    <accordion-group heading="HighSchool">
      I have done my HighSchool from Ch Jagan Singh College and secured 78 %
    </accordion-group>
  </accordion>
  
</div>
