<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img src="../../assets/about1.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
        <p>yash katara</p>
      </div>

    </div>
    <div class="col-lg shadow border m-1">
      <div class="text-center"> 
        <h2>About Me</h2>
       
        <p>My Name is Yash Katara. I am From Mathura Uttar Pradesh. My Schooling is done from Ch. Jagan Singh College Mathura.I got 78% in High School and 68.4% in Intermediate and I Have Completed My B.tech From BSACET Mathura and got secured 7.16 CGPA.</p>

      </div>
  </div>
</div>
