<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img src="../../assets/about1.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
        <p>yash katara</p>
      </div>

    </div>
    <div class="col-lg shadow border m-1">
      <div class="text-center"> 
        <h2>Featured Project</h2>
        <carousel>
          <slide>
            <img src="assets/images/nature/1.jpg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
          </slide>
        </carousel>
        <p></p>

      </div>
  </div>
</div>
