<!-- <footer class="text-center text-white" style="background-color: #a4a1a1;">

<div class="container pt-4">

<section class="mb-4">

<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="Facebook.com" role="button">
<i class="fa-brands fa-facebook"></i>
</a>

<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button">
<i class="fa-brands fa-instagram"></i>
</a>


<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button">
<i class="fa-brands fa-linkedin"></i>
</a>

<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button">
<i class="fa-brands fa-github"></i>
</a>
</section>

</div>



  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="#">Yash Katara</a>
  </div>

</footer> -->
